.ManageScreenB{
    font-size: small;
    font-family: AirBnbCereal,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.special{
    margin-right: 81px;
}
.header {
    text-align: start;
    margin: 10px;
}
#icon{
    margin-left:20px ;
}
.adjust{
    margin-right: 76px !important;}
/* animation.css */

  
.h1{
    font-size:21px;
    color: #595959;
}
#Monospace{
  font-family:monospace;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block{
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
    flex-direction: column;

   
}
#content{
    
    font-size: 12px;
    
}
#clickBtn{
    background-color: #ffc43d;
    color: white;
    min-width: 80px;
    margin-top:10px ;
    font-family: AirBnbCereal;
    min-height: 23px;
    border-style: none;
    border-radius: 14px;
}

#containertwo{
    margin-left: 9px;
    margin-right: 7px;
    margin-top: 63px;
    margin-bottom: 6px;
}
.cardblock{
    /* max-width: 365px; */
    color: #595959;
    margin-top: 36px;
    border-style: solid;
    border-radius: 20px;
    padding-top: 22px;
    padding-left: 41px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-width: thin;
    height: 111px;
    border-color: #595959;
}
